/* Place custom styles below */
body { 
    min-width: 520px; 
}

.column { 
    width: 170px; 
    float: left; 
    padding-bottom: 100px; 
}

.Book {
    width:250px;
    height:80px;
    margin-top:5px;
    margin-left:0;
    margin-right:10px;
    margin-bottom:10px;
    cursor:pointer;
    padding:5px;
    float:left;
    text-align:left;
    font-family:Segoe UI, sans-serif; 
    font-size:14px;
    background-repeat: no-repeat; 
    background-position:center;
    overflow:hidden;
    position:relative;
    clear: both;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-top-left-radius:10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;    
}

.BookDescription {
    color: #000; 
    font-size: 12pt;
}

.EditIcon {
    float:right;
    text-align:right;
    background-color:black;
}

.Purple {
    background-color:#A200FF;
}
.Yellow {
    background-color:#efef42;
}
.Orange {
    background-color:#F09609;
}
.Blue {
    background-color:#1BA1E2;
}
.Red {
    background-color:#E51400;
}
.Green {
    background-color:#339933; 
}
.White{
    background-color:#FFFFFF; 
}



